<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>文件列表</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/fileinput.min.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/fileinput.min.js}"></script>
    <script th:src="@{/js/zh.js}"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="collapse navbar-collapse main-navbar-collapse">
                        <ul class="navbar-brand"><strong>Athena 文件系统</strong></ul>
                        <ul class="nav navbar-brand navbar-right">
                            <li class="dropdown">
                                <a class="btn btn-link" th:href="@{'/server/user/login'}">登录</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-brand navbar-right">
                            <li class="dropdown">
                                <a th:href="@{'/server/user/register'}" class="btn btn-link">注册</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h2>上传文件</h2>
        </div>
        <div class="panel-body">
            <a class="btn btn-info" th:href="@{'/server/file/list'}" style="float: right">返回首页</a>
        </div>
        <div class="panel-body">
            <form method="post" action="/server/file/upload/file" enctype="multipart/form-data">
                <input id="testfile" type="file" name="files" class="file" th:multiple="true"/>
            </form>

            <!--<button class="btn btn-info" th:onclick="|javascript:uploadFile()|">上传</button>-->
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    $('#testfile').fileinput({
        language: 'zh'
    });

function uploadFile() {
    var formData = new FormData();
    formData.append("file",$("#testfile")[0].files[0]);
    $.ajax({
        url:"/server/file/upload/file",
        type:"POST",
        dataType:"formData",
        async:false,
        data:formData,
        success:function(m){

        }
    });

}

</script>
</html>